PORT=4002
DATABASE_URL=postgresql://admin:admin@postgres:5432/wallets?schema=public
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
JWT_JWKS_URI=http://keycloak:8080/realms/crash-game/protocol/openid-connect/certs
JWT_ISSUER=http://localhost:8080/realms/crash-game
